@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.tabs{
    /* background-color: orange; */
}
.active-tabs{
    border-bottom: 1px solid black;
}

.content{
    display: none;
    
}

.content img{
    width: 24rem;
    height: 24rem;
}

.active-content {
    display: block;
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    
}


/* this is the stying for tablet and desktop view */
/* using media query */
@media only screen and (min-width:600px){

    .active-content {
        display: block;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        
    }
}